/* Général */

body {
    margin: 0 2em 2em 2em;
    word-wrap: break-word;
    text-decoration: none;
}

h5,
h4,
h3,
h2,
h6,
p,
a,
figcaption,
div,
label,
form {
    font-family: 'Raleway', sans-serif;
    color: black;
}


/* Header */

header {
    height: 380px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    height: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.logoTop {
    margin-top: 0.5em;
}

.height40px {
    height: 40px;
}

.bandeauAncres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
}

.sinscrire {
    color: #0065FC;
}

a {
    text-decoration: none;
}


/* effet de style :hover sur menu de navigation */

header .bandeauAncres a:before {
    /* https://stackoverflow.com/questions/28623446/hover-effect-expand-bottom-border/28623513#28623513*/
    display: block;
    content: '';
    border-top: solid 3px #0065FC;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-top: 20px;
}

header .bandeauAncres a:hover:before {
    transform: scaleX(2);
    padding-top: 20px;
}


/* champ saisie de recherche */

h5 {
    font-size: large;
}

.inputField {
    display: flex;
    height: 70px;
    width: 500px;
    flex-direction: row;
    justify-content: flex-start;
}

.inputField i {
    border-radius: 20px 0 0 20px;
    border: none;
    padding: 1em;
    color: black;
    font-weight: bold;
    background-color: #f2f2f2;
}

.inputField input {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
    font-weight: bold;
}

.inputField button {
    border-radius: 0 20px 20px 0;
    background-color: #0065FC;
    border: none;
    padding: 1.2em;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


/* Filtres */

.filters {
    font-weight: bold;
}

.filters p {
    margin-right: 2em;
}

.filters form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.checkBox {
    width: auto;
    height: 2em;
    border-radius: 20px;
    border: solid #f2f2f2 1px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0 0.5em 0 0;
}


/* Dézoomer */

.zoomEnlarge {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.zoomEnlarge:hover {
    transform: scale(1.1);
}

.visuallyHidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.chip {
    display: inline-flex;
    align-items: center;
}

.chip:hover {
    color: #0065FC;
    background-position: 0%;
}

.chipIndicator {
    margin-right: .25rem;
    width: 2em;
    height: 2em;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.chip .eco {
    background-image: url("images/logo/money-bill-wave-solid.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.chip .family {
    background-image: url("images/logo/child-solid.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.chip .love {
    background-image: url("images/logo/heart-solid.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.chip .pets {
    background-image: url("images/logo/dog-solid.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.chipInput:checked~.chipIndicator {
    background-color: #0065FC;
    background-image: url("images/logo/check-circle-solid.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.chipInput:checked+chip:before {
    background: #0065FC;
}

.chipInput:checked+chip:after {
    background: #DEEBFF;
    top: 2px;
    left: 140px;
}


/*  résultat recherche */

.info {
    margin-right: 10px;
    width: 25px;
    background: #f2f2f2;
    height: 25px;
    text-align: center;
    border-radius: 100px;
    border: solid 1px black;
    line-height: 0px;
    justify-content: center;
}

.info p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #0065FC;
    margin-bottom: 2em;
}

.displayFlexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* Section 1 Hébergements */

.twoSections {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 650px;
}

.containerSectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    background-color: #f2f2f2;
    padding: 1.5em;
    height: 560px;
    border-radius: 20px;
    margin-right: 2em;
}

.containerSectionOne h2 {
    margin: 0.5em;
}

#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.cardPictureTop {
    height: 200px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 20px 20px 30px #f2f2f2;
    overflow: hidden;
    /*pour que l'image soit bien dans le bloc*/
    margin: 0.5em;
    border: solid 3px white;
}


/* Dézoomer */

.zoomOut {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.zoomOut:hover {
    transform: scale(0.9);
}


/* rendre div twoSections, hebergement populaire et activité  clickables */

section article #cardContainer .boiteHotel a,
aside .containerBox .cardPictureSide a {
    display: block;
}

.cardPictureTop img {
    width: 100%;
    height: 117px;
    object-fit: cover;
}

.text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    height: 74px;
    padding: 0.5em 0.5em;
    width: auto;
}

h6 {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.text div p {
    font-size: small;
}

.containerSectionOne h5 {
    margin: 0.5em;
}


/* Aside - Les plus populaires */

.containerSectionTwo {
    display: flex;
    background-color: #f2f2f2;
    width: 35%;
    height: 560px;
    flex-direction: column;
    border-radius: 20px;
    padding: 1.5em;
}

.containerBox {
    display: flex;
    flex-direction: column;
}

.containerSectionTwoTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0;
}

.containerSectionTwoTitle h2 {
    margin: 0.5em 0;
}

.pictoIncrease {
    text-decoration: none;
}

.containerBox {
    display: flex;
    flex-direction: column;
}

.cardPictureSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    border: solid 3px white;
    overflow: hidden;
    height: 150px;
    width: auto;
    margin: 0.5em 0;
}

.pictureSide {
    display: flex;
    width: 43%;
    height: 150px;
    object-fit: cover;
}

.textSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 53%;
    height: 150px;
}

.textSide div p {
    line-height: 3em;
}

.pictureSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.stars {
    color: #0065FC;
}


/* Section 2 Activités à Marseille */

#activite {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#BoxesInStrip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 560px;
    padding: 0;
}

li {
    list-style: none;
}

.bigBox {
    border-radius: 10px;
    box-shadow: 20px 20px 30px grey;
    overflow: hidden;
    width: 22%;
    background-color: white;
    height: 500px;
    padding: 0;
    margin: 0;
}

.bigBox img {
    height: 450px;
    object-fit: cover;
    overflow: hidden;
}

.littleBox img {
    width: 100%;
    height: 182px;
    object-fit: cover;
    overflow: hidden;
}

.boxOfTwo {
    flex-direction: column;
    width: 22%;
    justify-content: space-between;
    height: 500px;
    margin: 0;
    padding: 0;
}

.littleBox {
    border-radius: 10px;
    box-shadow: 20px 20px 30px grey;
    overflow: hidden;
    margin-bottom: 1.85em;
    background-color: white;
    height: 235px;
}

.figcaption {
    margin: 0.5em;
    font-weight: 600;
    overflow: auto;
    justify-content: flex-start;
    padding: 0.5em 0.5em;
    display: table-cell;
    height: auto;
    width: 90%;
}


/* Footer */

footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

footer div {
    width: 33%;
}

footer a {
    line-height: 2em;
}

footer a:hover {
    text-decoration: underline;
}


/* ************************************************* */


/* ************************************************* */


/* Propriétés CSS tablette ici */


/* ************************************************* */

@media all and (min-width: 769px) and (max-width: 1220px) {
    body {
        margin: 1em;
    }
    header {
        height: 470px;
    }
    .bandeauAncres {
        width: 45%;
    }
    .inputField {
        width: 100%;
        justify-content: center;
        margin: 2em 0;
    }
    .filters form {
        max-width: 90%;
        margin: 0 1em 1em;
    }
    .twoSections {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containerSectionOne {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f2f2f2;
        padding: 0em;
        height: max-content;
        border-radius: 0;
        margin: 0 0em 3em 0;
        width: auto;
    }
    .containerSectionOne h2 {
        padding: 0 7em;
    }
    #cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        width: auto;
        padding: 1em;
    }
    .cardPictureTop {
        height: 205px;
        width: 45%;
        border-radius: 10px;
        box-shadow: 10px 10px 30px grey;
        overflow: hidden;
        border: solid 3px white;
        margin: 0.5em 0 0.5em 0;
    }
    .containerSectionTwo {
        width: auto;
        display: flex;
        background-color: #f2f2f2;
        height: 615px;
        flex-direction: column;
        border-radius: 0px;
        padding: 0;
        margin-bottom: 2em;
    }
    .containerSectionTwoTitle {
        justify-content: space-around;
    }
    .containerSectionTwo h2 {
        padding: 1em 0 0 3em;
    }
    .containerSectionOne h5 {
        margin: 0 2em 1em 80%;
        justify-content: flex-end;
    }
    footer div {
        margin: 2em 2em 0 0;
        width: auto;
    }
}


/* ************************************************* */


/* ************************************************* */


/* Propriétés CSS smartphone ici */


/* ************************************************* */

@media all and (max-width: 768px) {
    html {
        background-size: cover;
    }
    body {
        margin: 0em;
        font-size: 1em;
    }
    header {
        height: 667px;
    }
    h5,
    h4,
    h3,
    h2,
    h6,
    p,
    a,
    figcaption,
    div,
    label,
    form {
        font-family: 'Raleway', sans-serif;
        color: black;
    }
    h2 {
        padding-left: 0.6em;
    }
    h3 {
        font-size: 3.5vh;
        padding-bottom: 1vh;
    }
    /* Header */
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 667px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        height: 146px;
        border-bottom: solid 4px #f2f2f2;
        padding-bottom: 3px;
    }
    .logoTop {
        height: 53px;
        margin: 2em 0 0 2em;
    }
    .bandeauAncres {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 52px;
        width: 100%;
        margin: 1em;
        position: relative;
    }
    header .bandeauAncres a:before {
        border-top: none;
        transform: none;
        transition: none;
        padding-top: 20px;
    }
    .navHebergement {
        position: absolute;
        top: 0%;
        left: 27%;
    }
    .navHebergementResponsive {
        position: absolute;
        left: -16px;
        border-bottom: none;
        width: 55%;
        margin-left: 0;
        padding-bottom: 48px;
    }
    .navHebergementResponsive:active {
        border-bottom: solid 4px #0065FC;
    }
    .navActivite {
        position: absolute;
        top: 0px;
        right: 34%;
    }
    .navActiviteResponsive {
        position: absolute;
        right: -16px;
        border-bottom: none;
        width: 55%;
        margin-right: 0;
        padding-bottom: 48px;
    }
    .navActiviteResponsive:active {
        border-bottom: solid 4px #0065FC;
    }
    .sinscrire {
        position: absolute;
        right: 8%;
        top: -141%;
        color: #0065FC;
        order: 1;
    }
    .sinscrire:hover,
    .sinscrire:active {
        text-decoration: none;
    }
    /* champ saisie de recherche */
    .intro {
        width: 90%;
        margin: auto;
    }
    h5 {
        font-size: medium;
        margin-top: 40px;
        padding: 0;
    }
    .intro p {
        font-size: large;
        margin-bottom: 2em;
    }
    .inputField {
        display: flex;
        height: 75px;
        width: 90%;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    .inputField i {
        border-radius: 12px 0 0 12px;
        border: none;
        padding: 0.8em;
        height: 14px;
        color: black;
        font-weight: bold;
        background-color: #f2f2f2;
    }
    .inputField input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2em 3em 1.2em 1em;
        font-weight: bold;
        font-size: 1em;
        border: solid #f2f2f2 1px;
        height: 40px;
        width: 109%;
    }
    .inputField button {
        border-radius: 12px;
        background-color: #0065FC;
        background-image: url('images/logo/search-solid.svg');
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        margin: auto;
        border: none;
        height: 40px;
        width: 40px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    .displayNone {
        display: none;
    }
    /* Filtres */
    .filters {
        font-weight: bold;
    }
    .filters p {
        width: 95%;
        margin: auto;
        margin-bottom: 1em;
    }
    .filters form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-content: center;
        width: 100%;
        margin: auto;
    }
    .checkBox {
        display: flex;
        width: auto;
        height: 2em;
        border-radius: 20px;
        border: solid #f2f2f2 1px;
        background-color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 1em 0.8em 0;
        padding: 0 0.5em 0 0;
    }
    .chipIndicator :link {
        background-color: #0065FC;
        color: white;
    }
    .visuallyHidden {
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .chip {
        display: inline-flex;
        align-items: center;
        margin-top: 0em;
    }
    .chipIndicator {
        margin-right: .25rem;
        width: 2em;
        height: 2em;
        background-color: #DEEBFF;
        border-radius: 50%;
    }
    .chip .eco {
        background-image: url("images/logo/money-bill-wave-solid.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .chip .family {
        background-image: url("images/logo/child-solid.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .chip .love {
        background-image: url("images/logo/heart-solid.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .chip .pets {
        background-image: url("images/logo/dog-solid.svg");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .chipInput:checked~.chipIndicator {
        background-color: #0065FC;
        background-image: url("images/logo/check-circle-solid.svg");
        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
    .chipInput:checked+chip:before {
        background: #0065FC;
    }
    .chipInput:checked+chip:after {
        background: #DEEBFF;
        top: 2px;
        left: 140px;
    }
    /*  résultat recherche */
    .info {
        margin-right: 10px;
        width: 25px;
        background: #f2f2f2;
        height: 25px;
        text-align: center;
        border-radius: 100px;
        border: solid 1px black;
        line-height: 0px;
        justify-content: center;
    }
    .info p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        color: #0065FC;
    }
    .displayFlexStart {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .resultatsRecherche {
        width: 90%;
        margin: auto;
    }
    /* Section 1 Hébergements */
    .twoSections {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .containerSectionOne {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 0em;
        height: max-content;
        border-radius: 20px;
        margin-right: 0em;
        width: auto;
    }
    .twoSections h2 {
        margin: 0.5em;
    }
    #cardContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        width: auto;
        padding: 1em;
    }
    .cardPictureTop {
        height: 205px;
        width: auto;
        border-radius: 10px;
        box-shadow: 10px 10px 30px grey;
        overflow: hidden;
        /*pour que l'image soit bien dans le bloc*/
        border: solid 3px white;
        margin: 0.5em 0 0.5em 0;
    }
    /* rendre div twoSections, hebergement populaire et activité  clickables */
    section article #cardContainer .cardPictureTop a,
    aside .containerBox .cardPictureSide a {
        display: block;
    }
    .cardPictureTop img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    .text {
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
    }
    .text h6 {
        width: 100%;
    }
    h6 {
        font-size: large;
    }
    .text div p,
    .textSide div p {
        font-size: small;
        margin: 1%
    }
    .containerSectionOne h5 {
        font-size: medium;
        margin: 0.5em;
        margin-top: 3px;
        padding: 0 1em;
    }
    /* Aside - Les plus populaires */
    .containerSectionTwo {
        order: 1;
        display: flex;
        background-color: #f2f2f2;
        width: auto;
        height: 667px;
        flex-direction: column;
        border-radius: 0px;
        padding: 0;
    }
    .containerSectionTwoTitle {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 95%;
        padding: 0;
    }
    .pictoIncrease {
        text-decoration: none;
    }
    .containerBox div a {
        width: auto;
    }
    .cardPictureSide {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        border-radius: 10px;
        border: solid 3px white;
        overflow: hidden;
        height: 150px;
        width: auto;
        margin: 0.5em;
    }
    .pictureSide {
        display: flex;
        width: 43%;
        height: 150px;
        object-fit: cover;
    }
    .textSide {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 70%;
        padding-left: 0.8em;
    }
    .pictureSide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    /* Section 2 Activités à Marseille */
    #activite {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        margin: 0;
        padding: 1em;
    }
    #BoxesInStrip {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        width: 100%;
    }
    .bigBox {
        border-radius: 10px;
        box-shadow: 10px 10px 30px grey;
        overflow: hidden;
        width: 100%;
        background-color: white;
        height: 200px;
        margin-bottom: 2em;
    }
    .bigBox img {
        width: 100%;
        height: 145px;
    }
    .littleBox img {
        width: 100%;
        height: 145px;
        object-fit: cover;
    }
    .boxOfTwo {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        height: auto;
    }
    .littleBox {
        border-radius: 10px;
        box-shadow: 10px 10px 30px grey;
        overflow: hidden;
        margin-bottom: 2em;
        background-color: white;
        height: 200px;
    }
    .figcaption {
        margin: 0.5em;
        font: medium;
        font-weight: 600;
        overflow: auto;
        justify-content: left;
        padding: 1em;
    }
    /* Footer */
    footer {
        width: auto;
        height: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #f2f2f2;
        padding: 1em 1em 2em 1em;
    }
    footer div {
        width: 80%;
        padding: 0;
    }
}